if subscriptions && subscriptions.length
  li
    span.dropdown
      a.item.handle(href="/articles")= __('Читать')
      span.menu.right
        a(href="/articles")= __('Все публикации')
        a(href="/articles/subscription")= __('По подписке')
        each subscription in subscriptions
          a(href="/hubs/"+subscription.hub.slug)= subscription.hub.title
