if currentUser && subscriptions
  li
    span.dropdown
      a.item.handle(href="/articles")= __('Мои хабы')
      span.menu.left
        a(href="/articles/subscription")= __('Лента всех хабов')
        if subscriptions.length
          each subscription in subscriptions
            a(href="/hubs/"+subscription.hub.slug)
              span.count= subscription.hub.articlesCount
              = subscription.hub.title

        else
          a(href="/hubs")= __('Подпишитесь на хабы')
