extends ../../layout

block head
  title= __('Хабы пользователя')

block content
  if user.isDeleted
    include ../includes/deleted
  else
    include ../includes/user
    .userHubs
      include ../../hubs/includes/list
      +paginate('/users/'+user.username+'/hubs')