extends ../layout

block head
  title= __('Создание хаба')

block content
  if currentUser.emailConfirmed
    include includes/form
  else
    .guestNotice= __('Подтвердите email чтобы иметь возможность создавать новые хабы')