//- New comment to your article
extends ../../layout

block content
  p Привет #{user.username}!

  p 
    = "Кто-то оставил комментарий к вашей публикации: "
    a(href="http://bugurt.ru/articles/"+article._id+"/"+article.slug)= article.title
  
  p 
    a.btn(href="http://bugurt.ru/articles/"+article._id+"/"+article.slug+"#"+comment._id) Читать комментарий

  
