//- Confirm email plese
extends ../../layout

block content
  p Привет #{user.username}!

  p Вы успешно зарегистрировались на bugurt.ru. 
  p Для активации аккаунта необходимо:
  p 
    a.btn(href='http://bugurt.ru/auth/confirm/'+token) Подтвердить мой email

  
