extends ../layout

block head
  title= __('Подписка')

block content
  
  if docs.length
    include includes/list
    +paginate('/articles/subscription')
  else
    p= __('Нет публикаций в хабах на которые вы подписаны')