extends ../../layout

block head
  title= __('Успех')

block content
  h1= __('Успех')

  p= __('E-mail подтвержден. Теперь вы можете писать комментарии, создавать публикации и хабы')

  a.btn(href="/")= __('На главную страницу')