extends ../../layout

block head
  title= __('Комментарии пользователя')

block content
  if user.isDeleted
    include ../includes/deleted
  else
    - var showFullContent = true
    include ../includes/user
    .userComments
      include ../../comments/includes/list
      +paginate('/users/'+user.username+'/comments')