extends ../../layout

block head
  title= __('Публикации пользователя ') + user.username
block meta
  meta(name='description' content=__('Публикации пользователя ') + user.username )
  
block content
  if user.isDeleted
    include ../includes/deleted
  else
    - var showFullContent = true
    include ../includes/user
    .userArticles
      include ../../articles/includes/list
      +paginate('/users/'+user.username+'/articles')