extends ../../layout

block head
  title= __('Публикации пользователя')

block content
  if user.isDeleted
    include ../includes/deleted
  else
    include ../includes/user
    .userArticles
      include ../../articles/includes/list
      +paginate('/users/'+user.username+'/articles')