@import '_variables'
@import 'selectize'
@import 'textHtml'
@import 'pagination'
@import 'buttons'
@import 'dropdown'
@import 'code'
@import 'comments'
@import 'articles'
@import 'users'
@import 'dropzone.css'
@import 'hubs'
@import 'pageTabs'
@import 'notices'
@import 'forms'
@import 'includes/sidebar'
@import 'includes/sidebar/subscription'
@import 'includes/sidebar/topArticles'
@import 'includes/sidebar/topHubs'
@import 'includes/sidebar/topWriters'




body
  padding 0px
  margin 0
  font-size fontsize1 
  font-family fontfamily1
  background #fff //#f8f8ff

*
  box-sizing border-box
  
img
  max-width 100%
  
hr
  border 0
  margin 1em 0
  padding 0
  height 1px 
  background #eee
a
  color #4078c0
  text-decoration none
  &:hover
    text-decoration underline

.hidden
  display none

// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
.layout
  max-width 720px
  margin auto
  // background #fff
  position relative
  padding-top 62px
  padding-bottom 200px
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden

    
  > .siteHeader
    width 100%
    display block
    position absolute
    top 0
    left 0
  // > .sidebar
  //   width 300px
  //   display block
  //   float right
  //   vartical-align top
  > .content 
    // margin-right 320px
    display block
    padding 0 0px

.layout_auth
  max-width 720px
  margin auto
  // background #fff
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  > .content 
    margin auto
    max-width 320px
    display block
    padding 0 0px  


footer
  clear: both
  background #eee
  margin 50px 0 0
  padding 20px
  font-size fontsize3
  border-top 1px solid #eee
  color #999
header
  background #222
  padding 5px 10px
  margin 0 0 20px
  min-height 42px
  a.logo
    display block
    float left
    margin-right 10px
    img
      width 32px
      height 32px
  .leftMenu
    float left
  .rightMenu
    float right
  ul
    margin 0
    padding 0
    list-style none
    li
      margin 0 10px
      paddin 0
      display inline-block
      a.item
        display inline-block
        line-height 32px
        color white
      a.item:first-letter
        text-transform uppercase 
      a.item + a.item
        display inline-block
        margin-left 20px

.paginate
  border-top 1px solid #eee
  margin-top 40px
  text-align center
  a
    display inline-block
    padding 15px 0
    