.commentsList
  margin 2em 0

.comment
  margin 0 -20px
  padding 10px 20px
  &:target
    outline 1px dashed #222 //deepskyblue
    
  .content
    line-height 1.5em
    font-size fontsize1
    
  .meta
    margin-top 0.2em
    font-size fontsize3
    color grey
    text-transform lowercase
    a
      color grey