.commentForm,
.hubForm,    
.articleForm,
.subscriptionForm,
.settingsForm,
.authForm
  .field + .field
    margin-top 20px
  .field
    .field-description
      margin-top 5px
      font-size fontsize3
      color grey
    .field-label
      display inline-block
      font-size fontsize1
      color black
    .field-label + .field-input
      margin-top 5px
    .field-input
      border 1px solid #eee
      display block
      font-family fontfamily1
      display block
      width 100%
      box-sizing border-box 
      margin 0px
      resize none
      font-size fontsize1
      padding 5px 10px
      line-height 1.5em
      &:focus 
        border 1px solid #222
        outline none
        
.authForm
  max-width 400px
  margin auto

.hubForm,
.articleForm
  .field
    input[name="title"].field-input
      font-size fontsize2        
  .selectize-control
    margin-bottom 10px
