body 
  height 100%
.lightboxOverlay
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  z-index 1000
  text-align center
  background rgba(0, 0, 0, 0.8)
  display flex
  justify-content center
  align-items center
  align-content center
.lightboxPreview
  display block
  margin 0
  max-width 100%
  max-height 100%