if currentUser
  .pageTabs
    a.tab(href="/hubs/subscription" class=subscriptionPage ? "active" : "")= __('Подписка')
    a.tab(href="/hubs" class=subscriptionPage ? "" : "active")= __('Все хабы')

    
    
